/******************************************************************* variables */


/************************* fonts */

//change fonts sitewide
$neue: 'neue-haas-grotesk-display';

$primary_font_stack: $neue, 'Arial', sans-serif;

$default_size: 20;
$default_weight: normal;
$default_lh: 170%;

/********************************************************* colors */

$colour_black: #161616;
$colour_white: #fff;  

$primary_colour: $colour_black;
$secondary_colour: $colour_white; 